<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SAU-AffairManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <display-name>CharacterFilter</display-name>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>edu.hfnu.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUserServlet</display-name>
    <servlet-name>DelUserServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.DelUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUserServlet</servlet-name>
    <url-pattern>/DelUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewDropClubServlet</display-name>
    <servlet-name>NewDropClubServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.NewDropClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewDropClubServlet</servlet-name>
    <url-pattern>/NewDropClubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClubEvaluateServlet</display-name>
    <servlet-name>ClubEvaluateServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ClubEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClubEvaluateServlet</servlet-name>
    <url-pattern>/ClubEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginOutServlet</display-name>
    <servlet-name>LoginOutServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.LoginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginOutServlet</servlet-name>
    <url-pattern>/LoginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemCheckServlet</display-name>
    <servlet-name>ItemCheckServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ItemCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemCheckServlet</servlet-name>
    <url-pattern>/ItemCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanCheckServlet</display-name>
    <servlet-name>PlanCheckServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.PlanCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanCheckServlet</servlet-name>
    <url-pattern>/PlanCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifyPasswordServlet</display-name>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ModifyPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifyPasswordServlet</servlet-name>
    <url-pattern>/ModifyPasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchEvaluateServlet</display-name>
    <servlet-name>SearchEvaluateServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.SearchEvaluateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchEvaluateServlet</servlet-name>
    <url-pattern>/SearchEvaluateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AwardNameServlet</display-name>
    <servlet-name>AwardNameServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.AwardNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AwardNameServlet</servlet-name>
    <url-pattern>/AwardNameServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HonorCertifyServlet</display-name>
    <servlet-name>HonorCertifyServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.HonorCertifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HonorCertifyServlet</servlet-name>
    <url-pattern>/HonorCertifyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ButtonCheckServlet</display-name>
    <servlet-name>ButtonCheckServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ButtonCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ButtonCheckServlet</servlet-name>
    <url-pattern>/ButtonCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewClubServlet</display-name>
    <servlet-name>NewClubServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.NewClubServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewClubServlet</servlet-name>
    <url-pattern>/NewClubServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet</display-name>
    <servlet-name>DownloadServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.DownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet</servlet-name>
    <url-pattern>/DownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadServlet2</display-name>
    <servlet-name>DownloadServlet2</servlet-name>
    <servlet-class>edu.hfnu.controller.DownloadServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadServlet2</servlet-name>
    <url-pattern>/DownloadServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ButtonDeleteServlet</display-name>
    <servlet-name>ButtonDeleteServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ButtonDeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ButtonDeleteServlet</servlet-name>
    <url-pattern>/ButtonDeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ContactServlet</display-name>
    <servlet-name>ContactServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ContactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ContactServlet</servlet-name>
    <url-pattern>/ContactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityServlet</display-name>
    <servlet-name>ActivityServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ActivityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityServlet</servlet-name>
    <url-pattern>/ActivityServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActivityroomServlet</display-name>
    <servlet-name>ActivityroomServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ActivityroomServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActivityroomServlet</servlet-name>
    <url-pattern>/ActivityroomServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ItemServlet</display-name>
    <servlet-name>ItemServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ItemServlet</servlet-name>
    <url-pattern>/ItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserManageServlet</display-name>
    <servlet-name>UserManageServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.UserManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserManageServlet</servlet-name>
    <url-pattern>/UserManageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReasonServlet</display-name>
    <servlet-name>ReasonServlet</servlet-name>
    <servlet-class>edu.hfnu.controller.ReasonServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReasonServlet</servlet-name>
    <url-pattern>/ReasonServlet</url-pattern>
  </servlet-mapping>
</web-app>